<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- <!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd"> -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %5p [%c] %m%n" />
		</layout>
	</appender>
	
	<appender name="filelog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="D:/dl/logfile/dl_log.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %-17c{2} (%13F:%L) %3x - %m%n" />
        </layout>
    </appender>
	
	<logger name="java.sql">
    	<level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>
    
	<!-- Application Loggers -->
	<logger name="com.hankooktire.mams">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>
	
	<logger name="org.springframework.context">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>

	<logger name="org.springframework.web">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>

	<!-- Root Logger -->
	<root>
		<level value="ERROR" />
		<priority value="warn"/>
		<appender-ref ref="filelog" />
	</root>
	
</log4j:configuration>
